<div class="navigation">
  <ul class="nav-list">
    <li class="nav-item">
      <%= link_to image_tag('backarrow.png', alt: 'Back'), categories_path, class: 'nav-link' %>
    </li>
    <li class="nav-title">
      <h2><strong>New Category</strong></h2>
    </li>
    <li class="nav-item">
    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, form: { class: "sign-out-button", "data-turbo" => "false" }, class: "sign-out-button" %>
    </li>
  </ul>
</div>

<%= render "form", category: @category %>
